@keyframes move {
   10%{
   
    transform: rotate(-30deg);
   
   }
    20%{
        transform: translatex(400px); 
       
    }

    40%{
        transform: translatex(400px) rotate(360deg) ; background-color: blue;
        
    }
    
    60%{ 
      
        transform: translatex(400px)  translateY(300px);  background-color:rgb(20, 224, 57);
        transform: translatex(400px) translatey(300px) rotate(100deg); 
    }

    80%{border-radius: 50%;
         transform:translateX(400px) translateY(300px) translateX(-400px) rotate(360deg) ; background-color: yellow; 
         
         
    }
    90%{
        transform:rotate(100deg) translateX(400px) translateY(300px) translateX(-400px) translateY(-300px) ; background-color: red;
    }
    100%{
        
        transform: rotate(360deg); 
    }
}

#mydiv{
    width: 100px;
    height: 100px;
   background:rgb(255, 145, 172);
    margin: 10% 20%;
   
}
#mydiv:hover{
    transition: all ;
    animation-name: move;
    animation-duration: 10s;
    animation-direction:;
    
}